@charset "UTF-8";
html > body {
	font-family: "GmarketSansMedium";
	font-weight: bold;
	font-size: 18px;
}

.box-max-width {
	max-width: 1200px;
}

/* 탑바 구현 시작 */
.top-bar {
    color: #000;
    font-weight: normal;
    padding: 0 20px;
}
.top-bar__content-container {
    position: relative;
}
.top-bar__logo-box a {
    display: block;
    width: 200px;
    height: 60px;
}
.top-bar__logo-box a img {
    object-fit: cover;
}
.top-bar__menu-items {
    font-size: 1rem;
    margin: 0 10px;
    margin-left: auto;
}
.top-bar__menu-items > ul > li {
    width: 120px;
    display: flex;
    position: relative;
    white-space: nowrap;
}
.top-bar__menu-items > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #000;
    transition: all 0.3s;
}
.top-bar__menu-items > ul > li:hover > a {
    color: #7fcdcd;
}
.top-bar__menu-items > ul > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 0%;
    height: 2px;
    background-color: #7fcdcd;
    transition: all 0.5s;
    transform: translatex(-50%);
}
.top-bar__menu-items ul li:hover a::after {
    width: 100%;
}
.top-bar__login-icons {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}
.top-bar__login-icons ul a {
    display: block;
    width: 47px;
    white-space: no-wrap;
    transition: all 0.5s;
    margin-right: 15px;
}
.top-bar__login-icons ul a i {
    margin-right: 5px;
}
.top-bar__login-icons ul a:hover {
    color: #eee;
}
.top-bar__icon-box {
    white-space: nowrap;
}
.top-bar__icon-box i {
    color: #666;
    width: 20px;
    margin-right: 10px;
    transition: all 0.5s;
}
.top-bar__icon-box i:hover {
    color: #eee;
}
/* 탑바 구현 끝 */
/* 드롭다운 메뉴 구현 시작 */
.dropDownItems {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 120%;
    left: 0;
    width: 100%;
    min-height: 500px;
    display: flex;
    min-width: 300px;
    z-index: 100;
    background-color: #fff;
}
.dropDownItems__left-box {
    width: 70%;
    display: flex;
}
.dropDownItems__left-box .selectMenu {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 17px;
}
.dropDownItems__left-box .selectMenu > ul {
    height: 100%;
}
.dropDownItems__left-box .selectMenu > ul > li {
    height: 20%;
}
.dropDownItems__left-box .selectMenu > ul > li a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.dropDownItems__left-box .selectMenu > ul > li a:hover {
    color: #eee;
    background-color: #7fcdcd;
}
.dropDownItems__left-box .showItems {
    width: 60%;
    height: 100%;
    padding-top: 50px;
}
.dropDownItems__left-box .showItems ul li {
    display: inline-block;
    max-width: 150px;
    height: 40%;
}
.dropDownItems__left-box .showItems ul li img {
    margin-bottom: 15px;
    transition: transform 0.5s;
}
.dropDownItems__left-box .showItems ul li:hover img {
    transform: scale(1.1);
}
.dropDownItems__left-box .shopInfo li i {
    padding-top: 50px;
    display: block;
    width: 150px;
    font-size: 50px;
    margin-bottom: 20px;
    transition: color 0.5s;
}
.dropDownItems__left-box .shopInfo li:hover i {
    color: #7fcdcd;
}
.dropDownItems__right-box {
    width: 30%;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.dropDownItems__right-box .valueCard-box {
    width: 100%;
}
.dropDownItems__right-box .valueCard-box .card-script {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
.dropDownItems__right-box .valueCard-box .card-img-box {
    margin-left: 50px;
    width: 250px;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.dropDownItems__right-box .valueCard-box .card-img-box img {
    width: 250px;
    height: 350px;
}
.dropDownItems__right-box .valueCard-box .card-img-box img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 100%;
    transition: opacity 0.5s, left 0.5s;
}
.dropDownItems__right-box .valueCard-box .card-img-box .value-button a {
    color: #eee;
    border: 1px solid #eee;
    padding: 15px 25px;
    font-size: 15px;
    position: absolute;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s;
    z-index: 25;
    border-radius: 10px;
}
.dropDownItems__right-box .valueCard-box .card-img-box:hover img:nth-child(2) {
    opacity: 0;
    left: 100px;
}
.dropDownItems__right-box .valueCard-box .card-img-box:hover .value-button a {
    bottom: 120px;
    background-color: #7fcdcd;
    border: 1px solid #7fcdcd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.dropDownItems__right-box .valueCard-box .card-img-box:hover .value-button a:hover {
    color: #019875;
    background-color: #eee;
}
.dropDownItems__right-box .valueCard-box .card-img-box::before {
    content: "";
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.dropDownItems__right-box .valueCard-box .card-img-box:hover::before {
    display: block;
}
/* 드롭다운 메뉴 구현 끝 */
/* 드롭다운 메뉴 JS용 시작 */
.dropDownItems {
    opacity: 0;
    visibility: hidden;
    top: 0;
    transition: opacity 0.5s, top 0.5s;
}
.dropDownItems.active {
    top: 100%;
    opacity: 100;
    visibility: visible;
}
.showItems {
    display: none;
}
.showItems.active {
    display: block;
}
/* 드롭다운 메뉴 JS용 끝 */
/* 헤더 반응형 시작 */
@media (width < 950px) {
    .top-bar__menu-items > ul {
        display: none;
   }
    .top-bar__icon-box {
        margin-left: auto;
        margin-right: 0;
   }
    .top-bar__login-icons {
        margin-right: 0;
   }
}
@media (width < 450px) {
    .top-bar__logo-box a {
        transform: scale(0.7);
   }
    .top-bar__login-icons {
        display: none;
   }
}
/* 헤더 반응형 끝 */
/* 드롭박스 반응형 시작 */
@media (width < 950px) {
    .dropDownItems__left-box {
        width: 100%;
   }
    .dropDownItems__right-box {
        display: none;
   }
}
@media (width < 500px) {
    .dropDownItems__left-box {
        font-size: 12px;
   }
    .dropDownItems__left-box .selectMenu {
        font-size: 12px;
   }
    .dropDownItems__left-box .showItems {
        transform: translatex(25%);
        padding-top: 20px;
        margin-bottom: 20px;
   }
    .dropDownItems__left-box .showItems ul li {
        display: block;
   }
    .dropDownItems__left-box .showItems.mtg ul li:nth-child(4), .dropDownItems__left-box .showItems.mtg ul li:nth-child(5), .dropDownItems__left-box .showItems.mtg ul li:nth-child(6) {
        display: none;
   }
}
/* 드롭박스 반응형 끝 */
/* 검색창 구현 시작*/
.top-bar__search-bar {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 300px;
    z-index: 120;
    background-color: #fff;
    border: 1px solid #fff;
}
.top-bar__search-bar .search-bar__dropdown-box {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
}
.top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-top input {
    padding: 15px;
    width: 500px;
    height: 30px;
    border-bottom: 2px solid #000;
}
.top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-top i {
    margin-left: 5px;
    cursor: pointer;
}
.top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-bottom ul {
    width: 500px;
    height: 200px;
}
.top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-bottom ul li {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
}
.top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-bottom ul li a {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(1, 152, 117, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-bottom ul li:hover a {
    background-color: #019875;
    color: #eee;
}
/* 검색창 구현 끝 */
/* 검색창 JS용 구현 시작*/
.top-bar__search-bar {
    opacity: 0;
    visibility: hidden;
    top: 0;
    transition: opacity 0.5s, top 0.5s;
}
.top-bar__search-bar.active {
    top: 100%;
    opacity: 100;
    visibility: visible;
}
/* 검색창 JS용 구현 끝 */
/* 검색창 반응현 */
@media (width < 500px) {
    .top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-bottom ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
   }
    .top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-bottom .resp {
        display: none;
   }
    .top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-top {
        height: 40%;
   }
    .top-bar__search-bar .search-bar__dropdown-box .dropdown-box__box-top i {
        display: none;
   }
}
