@charset "UTF-8";
html > body {
  font-family: "GmarketSansMedium";
  font-weight: bold;
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;
  height: 82vh;
}

/* 회원가입창 구현 시작 */
.register-box {
  margin-top: 50px;
  max-width: 600px;
  height: 850px;
  border: 1px solid #eee;
  border-radius: 20px;
}
.register-box .register-text h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
.register-box .register-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.register-box .register-form input {
  border: 2px solid #eee;
  font-weight: 500;
  margin-bottom: 30px;
}
.register-box .register-form button {
  display: block;
  color: #eee;
  border-radius: 10px;
  background-color: #399b9b;
  padding: 20px 25px;
  font-size: 20px;
  transition: all 0.5s;
}
.register-box .register-form button:hover {
  background-color: #7fcdcd;
}
/* 로그인창 구현 끝 */
